
ul a:hover{
  color: rgb(238, 139, 57) !important;
}
nav li{
    text-align: center;
    text-transform: uppercase;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: rgb(247, 182, 32);
    transform: scaleX(0);
    transition: transform .5s;
}

li > a:hover:after{
    transform: scaleX(1);
    transition: transform .5s;
}
.active{
    color: rgb(245, 171, 33) !important;
}

.navbar {
    margin-bottom: 18px;
}
