<div class='shadow-sm'>
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-center"> &copy; Copyright 2019 - Aang Jalaludin.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>